# Virtual Environments
venv/
venv312/
env/
.env/
.venv/
ENV/

# Env Files
.env
.env.*

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDEs / Editores
.idea/
.vscode/
*.swp
*.swo

# Data and Storage
backend/storage/
data/
*.csv

# Models and Deep Learning (Downloaded via script)
models/*.pb
models/*.caffemodel
models/*.prototxt
models/*.pbtxt
*.pt
runs/

# Logs and OS files
*.log
.DS_Store


ROADMAP.md
implementation_plan.md


